@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    background-color: #E9EDDE;
    z-index: -2;
    
  }
  
com360 et preuves com finit, 
finit com360 chiffrement de tout en com 
html {
    scroll-behavior: smooth;
    height: 200vh;
    
    
}

header {
    padding: 20px;

    
}

.petittel {
    display: none;
}

body {
    background-color: #E9EDDE;
    overflow-x: hidden;
    
}

.videoo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    mix-blend-mode: multiply;
    pointer-events: none;
    
}

.igm1, .igm2 {
    
    z-index: 3892;
}

.igm1:hover, .igm2:hover {
    filter: invert(100%);
    transition: filter 0.3s ease;
    border-radius: 7px;
    z-index: 999;
}


.support {
    color: black;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
}

.madein {
    position: absolute;
    transform: scale(0.2);
    margin-top: 0px;
    margin-left: 500px;
    z-index: 999;
    opacity: 70%;
}

.madein :hover {
    opacity: 100%;
    transition: all 0.3s ease;
}

.nav2 {
    z-index: 99;
    display: none;
    
}


.btnapp {
    outline: solid 1px #000;
    display: block;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;   
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnlogo {
    z-index: 389;
    margin-left: 100px;
}


.pourtel {
    max-width: 100%;
    ;
}


.btnapp:hover {
    background-color: black;
    color: white;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: black;
    margin-top: 60px;
}

.tele {
    max-width: 100%;
}

.logog {
    position: absolute;
    margin-left: 170px;
    margin-top: -98px;
    width: 240px;
    height: 240px;
}

.p1 {
    margin-top: 70px;
    color: #727569;
    line-height: 1.8;
    font-size: 16px;
}
.p2 {
    display: none;
}

.tele {
    scale: 0.9;
    margin-top: -50px;
}

.section1 {
    padding-left: 130px;
}

  

/* Media Queries for Mobile Devices */
@media screen and (max-width: 768px) {
   
    body {
        overflow-x: hidden;
        
        background-color: #E9EDDE;
    }

    .nav2 {
        z-index: 99;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100px;
    }

    .btnlogo2 {
        padding: 20px;
        
    }

    .btnapp2 {
        margin: 20px;
        padding: 10px;
        color: black;
        outline: solid 1px #000;
        border-radius: 55px;
        cursor: pointer;
        font-size: 16px;
    }

    nav {
        z-index: 99;
        display: none;
        
    }

    .section1 {
        margin-top: -30px;
        text-align:left;
        padding-left: 0px;
        
    }

    h1 {
        margin-top: 20px;
        font-weight: 600;
    }

    .p2 {
        display: block;
        margin-top: 40px;
        color: #727569;
        line-height: 1.8;
        font-size: 14px;
        width: 100%;

    }

    .tele img {
        display: none;
    }

    .tele {
        display: none;
    }

    .petittel {
        display: block;
        max-width: 100%;
        margin-left: 15%;
    }

    .p1 {
        display: none;
    }

    .logog {
        margin-left: 98px;
        margin-top: -55px;
        width: 130px;
        height: 130px;
    }



    .madein {
        display: none;
    }

    .igm1, .igm2 {
        margin-top: -20px;        
        margin-left: 70px;
        z-index: 3892;
    }

    .igm1:hover, .igm2:hover {
        filter: invert(100%);
        transition: filter 0.3s ease;
        border-radius: 5px;
    }

}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 40px;
    }

    .tele {
        scale: 0.6;
    }

}
